.content-wrapper {
    max-width: 980px;
    margin: 0 auto;
    position: initial;
    margin-top: 50px; // background-color: $white-color;
    section {
        border: 1px solid rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        box-shadow: 0px 1px 5px 1px rgba(214, 210, 210, 1);
        min-height: 400px;
        padding: 5px;
        &:not(:first-of-type) {
            margin-top: 10px;
        }
        &:last-of-type {
            margin-bottom: 20px;
        }
        .wrap-section {
            margin-top: 20px;
        }
        ul.privilegies {
            li {
                margin-bottom: 20px;
                background: url(../img/icons/tick_m.png) no-repeat left top;
                list-style: none;
                padding-right: 20px;
                padding-left: 70px;
                line-height: 20px;
                font-size: 16px;
            }
        }
        &#second {
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .lessons-info {
                margin-bottom: 20px;
                text-align: center;
                img {
                    width: 107px;
                    height: 107px;
                    margin-bottom: 5px;
                }
                .info-header {
                    font-size: 22px;
                }
                .info-text {
                    padding: 10px;
                    font-size: 14px;
                    line-height: 1.6;
                }
            }
        }
        &#third {
            .lesson-wrap {
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background-color: #fff;
                -webkit-box-shadow: 0 0 5px 1px #000;
                box-shadow: 0 1px 5px 1px #e6e2e2;
                margin-top: 10px;
                letter-spacing: .3px;
                padding: 20px;
                min-height: 350px;
                margin-bottom: 20px;
                h4 {
                    text-align: center;
                }
                ul {
                    margin-top: 20px;
                    font-size: 12px;
                    li {
                        background: url(../img/icons/tick_s.png) no-repeat left top;
                        list-style: none;
                        padding-right: 20px;
                        padding-left: 40px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        &#contacts {
            .contact-block {
                text-align: center;
                display: inline-block;
                padding: 0 15px;
                height: 60px;
                font-size: 16px;
                img {
                    float: left;
                    margin: 5px 0px 9px -35px;
                }
                .cont {
                    letter-spacing: 0.6px;
                }
                span {
                    font-size: 12px;
                }
            }
            .teachers-wrap {
                text-align: center;
                margin-top: 20px;
                margin-left: 2.5%;
                width: 95%;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background-color: #fff;
                -webkit-box-shadow: 0 0 5px 1px #000;
                box-shadow: 0 1px 5px 1px #e6e2e2;
                padding: 5px;
                padding-bottom: 30px;
                margin-bottom: 20px;
                img {
                    border-radius: 50%;
                }
                .name {
                    color: $light-black;
                    font: normal normal normal 17px/1.4em 'open sans', sans-serif;
                    font-size: 30px;
                    line-height: normal;
                }
                h2 {
                    color: $light-black;
                    font: normal normal normal 17px/1.4em 'open sans', sans-serif;
                    font-size: 30px;
                    line-height: normal;
                    margin-bottom: 30px;
                    margin-top: 10px;
                }
            }
        }
        &#pricing {
            .lesson-wrap {
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background-color: #fff;
                -webkit-box-shadow: 0 0 5px 1px #000;
                box-shadow: 0 1px 5px 1px #e6e2e2;
                margin-top: 10px;
                letter-spacing: .3px;
                padding: 20px;
                min-height: 400px;
                margin-bottom: 20px;
                max-height: 800px;
                h4 {
                    text-align: center;
                }
                ul {
                    margin-top: 20px;
                    font-size: 12px;
                    min-height: 300px;
                    li {
                        background: url(../img/icons/tick_s.png) no-repeat left top;
                        list-style: none;
                        padding-right: 20px;
                        padding-left: 40px;
                        margin-bottom: 10px;
                    }
                }
                .price_action {
                    font-size: 17px;
                    font-weight: 600;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    background-color: $yellow-color;
                    background: linear-gradient(to bottom, #ffc533 0, #fb652b 100%);
                    border-radius: 4px;
                    border: 1px solid transparent;
                    height: 40px;
                    color: $white-color;
                    text-align: center;
                    padding: 5px;
                    a {
                        color: $white-color;
                        text-decoration: none;
                    }
                    &:hover,
                     :active,
                     :focus {
                        color: #212121;
                        background: linear-gradient(to bottom, #d2ff52 0, #9bcb07 100%);
                    }
                }
                span {
                    margin-top: 0;
                    text-align: right;
                    float: right;
                    font-size: 11px;
                    padding-left: -15px;
                }
            }
            .wrap-shad {
                text-align: center;
                min-height: 150px;
                width: 80%;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background-color: #fff;
                -webkit-box-shadow: 0 0 5px 1px #000;
                box-shadow: 0 1px 5px 1px #e6e2e2;
                margin-top: 10px;
                letter-spacing: .3px;
                padding: 10px;
                margin-bottom: 20px;
                &:first-child {
                    margin-left: 10%;
                }
            }
            .wrap-shad1 {
                text-align: center;
                min-height: 250px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background-color: #fff;
                -webkit-box-shadow: 0 0 5px 1px #000;
                box-shadow: 0 1px 5px 1px #e6e2e2;
                margin-top: 10px;
                letter-spacing: .3px;
                padding: 10px;
                margin-bottom: 20px;
            }
        }
        &#process {
            .wrap-sec {
                width: 95%;
                margin: 0 auto;
                .wrap-shad1 {
                    text-align: center;
                    min-height: 270px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    background-color: #fff;
                    -webkit-box-shadow: 0 0 5px 1px #000;
                    box-shadow: 0 1px 5px 1px #e6e2e2;
                    margin-top: 20px;
                    letter-spacing: .3px;
                    padding: 10px;
                    margin-bottom: 20px;
                    ul.processing {
                        text-align: left;
                        font-size: 14px;
                        padding-left: 20px;
                        li {
                            &.ex {
                                background: url(../img/icons/ex.png) no-repeat left top;
                            }
                            &.of {
                                background: url(../img/icons/map.png) no-repeat left top;
                            }
                            &.ti {
                                background: url(../img/icons/clock.png) no-repeat left top;
                            }
                            &.st {
                                background: url(../img/icons/target.png) no-repeat left top;
                                margin-bottom: 10px;
                            }
                            height: 35px;
                            list-style: none;
                            padding-right: 50px;
                            padding-left: 40px;
                            margin-bottom: 25px;
                        }
                    }
                }
                .prop-num {
                    position: relative;
                    width: 100%;
                    img {
                        padding-right: 50px;
                    }
                    h4 {
                        position: absolute;
                        height: 100%;
                        top: 0;
                        left: 47px;
                    }
                }
                .prop-wrapp {
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    background-color: #fff;
                    -webkit-box-shadow: 0 0 5px 1px #000;
                    box-shadow: 0 1px 5px 1px #e6e2e2;
                    margin-top: 5px;
                    letter-spacing: .3px;
                    padding: 10px;
                    max-height: 600px;
                    margin-left: 47px;
                    margin-bottom: 10px;
                    h4 {
                        text-align: center;
                    }
                    ul.prop-w {
                        text-align: left;
                        font-size: 14px;
                        padding-left: 20px;
                        min-height: 180px;
                        max-height: 360px;
                        li {
                            &.mg {
                                background: url(../img/icons/manager.png) no-repeat left top;
                            }
                            &.tc {
                                background: url(../img/icons/up.png) no-repeat left top;
                            }
                            &.th {
                                background: url(../img/icons/help.png) no-repeat left top;
                            }
                            &.mp {
                                background: url(../img/icons/buy.png) no-repeat left top;
                            }
                            &.lo {
                                background: url(../img/icons/disc.png) no-repeat left top;
                            }
                            &.ot {
                                background: url(../img/icons/ret.png) no-repeat left top;
                            }
                            &.co {
                                background: url(../img/icons/work.png) no-repeat left top;
                            }
                            &.cf {
                                background: url(../img/icons/conf.png) no-repeat left top;
                            }
                            &.tv {
                                background: url(../img/icons/compass.png) no-repeat left top;
                            }
                            &.mv {
                                background: url(../img/icons/earth.png) no-repeat left top;
                            }
                            &.ex {
                                background: url(../img/icons/cert.png) no-repeat left top;
                            }
                            min-height: 40px;
                            list-style: none;
                            padding-right: 50px;
                            padding-left: 40px;
                            margin-bottom: 20px;
                        }
                    }
                    p {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }
                .box-box {
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    background-color: #fff;
                    -webkit-box-shadow: 0 0 5px 1px #000;
                    box-shadow: 0 1px 5px 1px #e6e2e2;
                    margin-top: 5px;
                    letter-spacing: .3px;
                    padding: 10px;
                    margin-left: 47px;
                    margin-bottom: 10px;
                }
            }
        }
        &#programs {
            .wrap-sec {
                width: 95%;
                margin: 0 auto;
                .box {
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    background-color: #fff;
                    -webkit-box-shadow: 0 0 5px 1px #000;
                    box-shadow: 0 1px 5px 1px #e6e2e2;
                    margin-top: 5px;
                    letter-spacing: .2px;
                    padding: 5px 15px 10px 15px;
                    margin-bottom: 10px;
                    .inc {
                        margin-top: 20px;
                        display: flex;
                        img {
                            height: 32px;
                            width: 32px;
                            margin-right: 10px;
                        }
                    }
                    ul {
                        margin-top: 20px;
                        padding-left: 20px;
                        li {
                            list-style-type: disc;
                            margin-bottom: 5px;
                            padding-right: 10px;
                        }
                    }
                }
                .table-box {
                    .add-border {
                        border-top: 2px solid rgba(224, 224, 224, 1);
                    }
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    background-color: #fff;
                    -webkit-box-shadow: 0 0 5px 1px #000;
                    box-shadow: 0 1px 5px 1px #e6e2e2;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    .head-box {
                        border-bottom: 2px solid rgba(224, 224, 224, 1);
                    }
                    .info {
                        border-right: 2px solid rgba(224, 224, 224, 1);
                        padding: 10px;
                        text-align: center;
                        vertical-align: middle;
                        &:first-child {
                            margin-left: 50px;
                        }
                    }
                    .footer-box {
                        border-top: 2px solid rgba(224, 224, 224, 1);
                        h3 {
                            margin-top: 5px;
                        }
                        h4 {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .kurs-wrap {
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background-color: #fff;
                -webkit-box-shadow: 0 0 5px 1px #000;
                box-shadow: 0 1px 5px 1px #e6e2e2;
                margin-top: 5px;
                letter-spacing: .2px;
                padding: 10px 5px 10px 5px;
                margin-bottom: 10px;
                min-height: 320px;
                img {
                    margin-top: 20px;
                }
                h4,
                p {
                    margin-left: 20px;
                }
                ul.kurs {
                    margin-left: 40px;
                    li {
                        list-style-type: disc;
                        margin-bottom: 2px;
                        letter-spacing: .1px;
                    }
                }
            }
            .kurs-wrap-min {
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background-color: #fff;
                -webkit-box-shadow: 0 0 5px 1px #000;
                box-shadow: 0 1px 5px 1px #e6e2e2;
                margin-top: 5px;
                letter-spacing: .2px;
                padding: 20px 5px 10px 5px;
                margin-bottom: 10px;
                min-height: 290px;
                .head-kurs {
                    display: flex;
                    margin-left: 20px;
                    img {
                        width: 48px;
                        height: 48px;
                    }
                    h4 {
                        margin-left: 20px;
                        width: 60%;
                    }
                }
                p {
                    margin-left: 20px;
                }
                span {
                    margin-left: 20px;
                    margin-bottom: 20px;
                }
                ul.kurs {
                    margin-top: 10px;
                    margin-left: 20px;
                    li {
                        list-style-type: disc;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

.form-clean {
    text-align: center;
    letter-spacing: .3px;
    padding: 5px 5px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    form {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #fff;
        -webkit-box-shadow: 0 0 5px 1px #000;
        box-shadow: 0 1px 5px 1px #e6e2e2;
        .form-title {
            padding-top: 10px;
            .hell {
                margin-bottom: 10px;
            }
        }
        input,
        textarea {
            max-width: 350px;
            display: inline-block;
            vertical-align: middle;
            user-select: none;
            outline: none;
            &:not(:last-child) {
                white-space: nowrap;
                background-color: rgba(255, 255, 255, 1);
                -webkit-appearance: none;
                -moz-appearance: none;
                border: 0px solid rgba(47, 46, 46, 1);
                color: #2F2E2E;
                margin: 0 0 5px;
                width: 90%;
                border-radius: 1px;
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
                padding: 5px;
            }
            &~[type="submit"] {
                font-size: 14px;
                font-weight: 600;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: $yellow-color;
                background: linear-gradient(to bottom, #ffc533 0, #fb652b 100%);
                border-radius: 4px;
                border: 1px solid transparent;
                height: 40px;
                color: $white-color;
                &:hover,
                 :active,
                 :focus {
                    color: #212121;
                    background: linear-gradient(to bottom, #d2ff52 0, #9bcb07 100%);
                }
            }
        }
        textarea {
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
            height: 120px;
            resize: none;
        }
    }
}

.scity {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 1px #000;
    box-shadow: 0 1px 5px 1px #e6e2e2;
    margin-top: 15em;
    letter-spacing: 1px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30em;
    .city {
        margin-bottom: 20px;
        background-color: #fb652b;
        height: 50px;
        padding: 10px;
        font-size: 20px;
        font-weight: 400;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        a {
            color: #fff;
            &:hover {
                outline: 0;
                text-decoration: inherit;
            }
        }
        &:hover {
            background-color: #9bcb07;
        }
    }
}

