.content-wrapper {
    max-width: 980px;
    margin: 0 auto;
    position: initial;
    margin-top: 110px;
    background-color: $white-color;
    section {
        border: 1px solid rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        box-shadow: 0px 1px 5px 1px rgba(214, 210, 210, 1);
        min-height: 400px;
        padding: 5px;
        &:not(:first-of-type) {
            margin-top: 10px;
        }
        &:last-of-type {
            margin-bottom: 20px;
        }
        .wrap-section {
            margin-top: 20px;
        }
        ul.privilegies {
            li {
                margin-bottom: 20px;
                background: url(../img/ticks/y_tick.png) no-repeat left top;
                list-style: none;
                padding-right: 20px;
                padding-left: 70px;
                line-height: 20px;
                font-size: 16px;
            }
        }
    }
    .form-clean{
        text-align: center;
        letter-spacing: .3px;
        padding: 20px 5px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        form{
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background-color: #fff;
                -webkit-box-shadow: 0 0 5px 1px #000;
                box-shadow: 0 1px 5px 1px #e6e2e2;
                .form-title{
                    padding-top: 10px;
                }
                input{
                    margin-bottom: 3px;
                    display: inline-block;
                    height: 35px;
                    width: 90%;
                }
        }
    }
}