/* =Media Queries
-------------------------------------------------------------- */

// Large Devices, Wide screens
@media only screen and (max-width: 1200px) {}

// Medium, Desktops
@media only screen and (max-width: 992px) {
    .container {
        width: 100% !important;
    }
    header {
        .nav-menu {
            .menu-head {
                margin-left: 0;
                img {
                    padding: 10%; // margin-top: 0;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar-right {
        float: right!important;
        margin-right: -40px !important;
    }
}

// Small devices
@media only screen and (max-width: 660px) {
    header {
        .nav-menu {
            background-color: transparent !important;
            .menu-head {
                a.navbar-brand {
                    width: 100px
                }
                width: 100%;
                ul {
                    background-color: $yellow-color;
                    width: 50%;
                    text-align: center;
                    &:not(.dropdown-toggle) {
                        margin-left: 20%;
                    }
                }
                button {
                    &:hover {
                        background-color: rgba(251, 101, 43, 0.79) !important;
                    }
                }
            }
        }
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: transparent !important;
    }
}

// Tablets
@media only screen and (max-width: 600px) {}

// Smartphones
@media only screen and (min-width: 321px) and (max-width:410px) {
    .navbar {
        border-bottom: none !important;
    }
    header {
        .nav-menu {
            background-color: transparent !important;
            .menu-head {
                border-color: transparent !important;
                a.navbar-brand {
                    width: 100px
                }
                width: 100%;
                ul {
                    background-color: $yellow-color;
                    width: 100%;
                    text-align: center;
                    &:not(.dropdown-toggle) {
                        margin-left: 20%;
                    }
                }
                button {
                    &:hover {
                        background-color: rgba(251, 101, 43, 0.79) !important;
                    }
                }
            }
        }
    }
}

// Mini Smartphones
@media only screen and (max-width: 320px) {
    .navbar {
        border-bottom: none !important;
    }
    header {
        .nav-menu {
            background-color: transparent !important;
            .menu-head {
                border-color: none !important;
                a.navbar-brand {
                    width: 100px
                }
                width: 100%;
                ul {
                    background-color: $yellow-color;
                    width: 100%;
                    text-align: center;
                    &:not(.dropdown-toggle) {
                        margin-left: 20%;
                    }
                }
                button {
                    &:hover {
                        background-color: rgba(251, 101, 43, 0.79) !important;
                    }
                }
            }
        }
    }
}