@media only screen and (max-width:770px){
    .lesson-wrap{
        height: 493px;
    }
    .kurs-wrap{
        min-height: 400px;
    }
}

@media screen and (max-width: 600px) {
    header.active ul.nav li a {
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #222b2f;
    }
    button.toggle-nav {
        top: 0;
        left: 15px;
    }
    header.active button.toggle-nav {
        top: 305px;
    }
    header ul.nav li {
        float: none;
        width: 100%;
    }
    header ul.nav li a {
        height: 0;
    }
}