@import url(https://fonts.googleapis.com/css?family=Allan);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
header {
    position: relative;
    background-color: $yellow-color;    
}

header ul.nav {
    overflow: hidden;
    text-align: center;
}

header ul.nav li {
    position: relative;
    float: left;
    width: 15%;
    text-align: center;
}

header ul.nav li a {
    display: block;
    height: 10px;
    opacity: 0;
    font: 400 12px 'Allan', serif;
    line-height: 10px;
    color: rgba(255,255,255,.9);
    text-decoration: none;
    text-align: center;
    cursor: default;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    &:hover {
        color: #fff;
        background-color: $active-yellow;
    }
}

/* Style for header with active class name */

header.active ul.nav li a {
    height: 60px;
    opacity: 1;
    line-height: 60px;
    cursor: pointer;
}


/* Style for the plus button */

button.toggle-nav {
    position: absolute;
    top: 20px;
    left: calc(50% - 30px);
    width: 60px;
    height: 25px;
    background-color: #70e40a;
    font: 400 1.2em 'Allan', serif;
    color: #fff;
    border: none;
    line-height: 20px;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
}

button.toggle-nav:hover {
    height: 25px;
}

button.toggle-nav span {
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
}


/* Style for the plus button when header has active classe name */

header.active button.toggle-nav {
    top: 60px;
    background-color: #256f6f;
}

header.active button.toggle-nav span {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}


/* Other styles */

.loud {
    text-transform: uppercase;
}
