@import 'base';
@import "toast";



@import 'nav';
@import 'content';
@import 'footer';
@include attr-x('margin-top', 10, 5, 'px');
@include attr-x('margin-bottom', 10, 5, 'px');
@include attr-x('margin-left', 10, 5, 'px');
@include attr-x('margin-right', 10, 5, 'px');
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.popup {
    display: block;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 300px;
    position: relative;
    z-index: 555;
    .content {
        max-height: 30%;
        overflow: auto;
        text-align: center;
    }
}

.close:hover {
    color: #fb652b;
}
// always to end add media
@import 'media';


