
footer.footer-basic
  .social
    a.fb(href='https://www.facebook.com/takeiteasyua/')
      i.fa.fa-facebook
    a.vk(href='https://vk.com/takeiteasyua')
      i.fa.fa-vk
    a.gp(href='https://plus.google.com/u/0/+Take-it-easyUa')
      i.fa.fa-google
    a.inst(href='https://www.instagram.com/takeiteasyua/')
      i.fa.fa-instagram
    a.tw(href='https://twitter.com/takeiteasy_ua')
      i.fa.fa-twitter
    a.ytb(href='https://www.youtube.com/channel/UCR3yePwS_lPDVlBwC0-wndA')
      i.fa.fa-youtube
  .social.min-15
    .language-img
      a(rel='alternate', href='#')
        img(src="img/social-media/crp/ru_lang.png")
    .language-img
      a(rel='alternate', href='#')
        img(src="img/social-media/crp/ua_lang.png")
  p.copyright Copyright © 2015-2017 TAKE IT EASY Все права защищены.