header
    nav.navbar.navbar-default.nav-menu
        .container
            .navbar-header.menu-head
                button(class='navbar-toggle collapsed' data-target='#bs-nav' data-toggle='collapse' type='button' aria-expanded='false')
                    span.sr-only Toogle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='')
                    img(src='img/logo.png' height='120' width='120')
                .collapse.navbar-collapse#bs-nav
                    ul.nav.navbar-nav.navbar-right
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown" href="#") г. Кривой Рог
                            ul.dropdown-menu
                                li
                                    a(href="") Киев
                                li
                                    a(href="") Одесса
                                li
                                    a(href="") Днепр 
                        li
                            a(href="") Главная
                        li
                            a(href="") Процесс
                        li
                            a(href="") Программы
                        li
                            a(href="") Цены
                        li
                            a(href="") Контакты
