doctype html
html(lang='en')
  include blocks/head
  body(style='background: url(img/bg.png);')
    include blocks/navigation
    include pages/_content_prices
    include blocks/footer
    include blocks/bottom