doctype html
html(lang='en')
    include blocks/head
    body(style='background: url(img/bg.png);')
        .col.col--1-of-3
        .col.col--1-of-3
            .scity
                .col.col--1-of-2
                    .city
                        a(href='index.html') Киев
                .col.col--1-of-2
                    .city
                        a(href='index.html') Киев
                .col.col--1-of-2
                    .city
                        a(href='index.html') Киев
                .col.col--1-of-2
                    .city
                        a(href='index.html') Киев
        
        .col.col--1-of-3
        include blocks/footer
        include blocks/bottom