.content-wrapper
    section#programs
        .wrap-section
            .grid
                .wrap-sec
                    .col.col--2-of-2
                        .table-box
                            .head-box
                                h2.text-center Классичесские курсы английского по методике полиглотов
                            .col.col--1-of-5.info(style='margin-left: 15px;') 1 — 12 занятие
                            .col.col--1-of-5.info 13 — 15 занятие
                            .col.col--1-of-5.info 16 — 20 занятие
                            .col.col--1-of-5.info 20 — 25 занятие
                            .col.col--1-of-5.info 25 — 35 занятие

                            .col.col--1-of-5.info.add-border(style='margin-left: 15px;') Изучаем конструкцию
                            .col.col--1-of-5.info.add-border Уроки говорения
                            .col.col--1-of-5.info.add-border Сложные конструкции
                            .col.col--1-of-5.info.add-border Уроки говорения
                            .col.col--1-of-5.info.add-border Практика с носителем
                            .footer-box
                                h3.text-center 25 уроков
                                h4.text-center Именно столько Вам понадобится для того, что бы освоить программу методики полиглотов
            .grid
                .wrap-sec
                    .col.col--1-of-2
                        .kurs-wrap
                            .col.col--2-of-12
                                img(src='img/icons/full.png')
                            .col.col--9-of-12
                                h4.kurs Полный курс
                                p.kurs-info Курс предназначен для желающих получить полный контроль над английским языком.
                                ul.kurs
                                    li Расширение словарного запаса
                                    li Разговорная практика на бытовые темы
                                    li Преодоление языкового барьера
                                    li Постановка произношения
                                    li Улучшенное восприятие речи на слух
                                    li Обучение с нуля до уровня носителя
                    .col.col--1-of-2
                        .kurs-wrap
                            .col.col--2-of-12
                                img(src='img/icons/business.png')
                            .col.col--9-of-12
                                h4.kurs Деловой английский
                                p.kurs-info Английский язык для переговоров с партнерами и общения с коллегами.
                                ul.kurs
                                    li Участие в конференциях и выставках
                                    li Публичные выступления и презентации
                                    li Зарубежные командировки
                                    li Управление персоналом
                                    li Лексика профильных направлений: маркетинг, менеджмент, финансы, юриспруденция, отдел кадров.
                    .col.col--1-of-2
                        .kurs-wrap
                            .col.col--2-of-12
                                img(src='img/icons/spk.png')
                            .col.col--9-of-12
                                h4.kurs Разговорный английский
                                p.kurs-info Курс по оттачиванию разговорной речи и увеличению словарного запаса.
                                ul.kurs
                                    li Преодоление страха перед разговором
                                    li Практика живого общения с носителем языка
                                    li Увеличение словарного запаса
                                    li Уверенное понимание собеседника
                                    li Повышение беглости речи
                                    li Закрепление материала по общему курсу английского.
                    .col.col--1-of-2
                        .kurs-wrap
                            .col.col--2-of-12
                                img(src='img/icons/chld.png')
                            .col.col--9-of-12
                                h4.kurs Английский для детей
                                p.kurs-info Полный курс английского языка, адаптированный для детей от 7 до 16 лет.
                                ul.kurs
                                    li Помощь со школьной программой
                                    li Заполнение пробелов в знаниях
                                    li Снятие языкового барьера
                                    li Задания, интересные для детей
                                    li Живое общение с преподавателем
                                    li Объяснение материалов языком, понятным ребенку.
                    .col.col--1-of-2
                        .kurs-wrap
                            .col.col--2-of-12
                                img(src='img/icons/wex.png')
                            .col.col--9-of-12
                                h4.kurs Международные экзамены
                                p.kurs-info Курс по подготовке к международным экзаменам IELTS, TOEFL.
                                ul.kurs
                                    li Подготовка к формату экзамена
                                    li Отработка экзаменационных заданий на практике
                                    li Анализ сложных моментов в экзамене
                                    li Основные лексические обороты для повышения балла
                    .col.col--1-of-2
                        .kurs-wrap
                            .col.col--2-of-12
                                img(src='img/icons/sex.png')
                            .col.col--9-of-12
                                h4.kurs Школьные экзамены
                                p.kurs-info Курс по подготовке к выпускным экзаменам и ЗНО (ЕГЭ).
                                ul.kurs
                                    li Подготовка к формату экзамена
                                    li Отработка экзаменационных заданий на практике
                                    li Знакомства с особенностями и тонкостями экзамена
                                    li Анализ сложных моментов в заданиях
                                    li Основные лексические обороты для повышения балла
                    .col.col--1-of-2
                        .kurs-wrap
                            .col.col--2-of-12
                                img(src='img/icons/trav.png')
                            .col.col--9-of-12
                                h4.kurs Английский для путешествий
                                p.kurs-info Курс для тех, кто хочет комфортно путешествовать по всему миру.
                                ul.kurs
                                    li Покупка билетов и перелет
                                    li Формальности на границе
                                    li Отель, ресторан и чаевые
                                    li Встречи и разговоры по телефону
                                    li Знакомства, разговор о себе и о работе
                                    li Покупки, отдых и достопримечательности
                    .col.col--1-of-2
                        .kurs-wrap
                            .col.col--2-of-12
                                img(src='img/icons/abr.png')
                            .col.col--9-of-12
                                h4.kurs Выезд за границу
                                p.kurs-info Мы работаем с лучшими учебными заведениями Великобритании, США, Австрии, Франции, Испании, Канады.
                                ul.kurs
                                    li Культурно-развлекательные и образовательные групповые туры для детей и молодежи
                                    li Курсы изучения иностранных языков за рубежом
                                    li Программы для подготовки к поступлению в престижные мировые университеты, сдачи экзаменов IELTS, TOEFL, DELF, DAF и т.п.
            
            .grid
                .wrap-sec
                    .col.col--2-of-2
                        .table-box
                            .head-box
                                h2.text-center Экспресс-курсы по измененной методике полиглотов
                            .col.col--1-of-2.info 5 — 14 занятий
                            .col.col--1-of-2.info 3 занятия

                            .col.col--1-of-2.info.add-border Вам может понадобится от 5 до 14 занятий, в зависимости от выбранного вами экспресс-курса и личного желания.
                            .col.col--1-of-2.info.add-border С носителем языка входят в любой из представленных ниже экспресс-курсов.
                            
            .grid
                .wrap-sec
                    .col.col--1-of-3
                        .kurs-wrap-min
                            .head-kurs
                                img(src='img/icons/inter.png')
                                h4.min-name Подготовка к собеседованию
                            p.min-info Курс предназначен для желающих получить полный контроль над английским языком.
                            span.grey-c Объем: 5-9 уроков                             
                            ul.kurs
                                li Ответы на типовые каверзные вопросы рекрутеров
                                li Правильная самопрезентация
                    .col.col--1-of-3
                        .kurs-wrap-min
                            .head-kurs
                                img(src='img/icons/pres.png')
                                h4.min-name Выступление и презентация
                            p.min-info Курс по проведению презентаций на английском языке.
                            span.grey-c Объем: 5-8 уроков                             
                            ul.kurs
                                li Структура презентации и подготовка слайдов
                                li Устойчивые речевые обороты и репетиция
                    .col.col--1-of-3
                        .kurs-wrap-min
                            .head-kurs
                                img(src='img/icons/fly.png')
                                h4.min-name Путешествия: в самолете
                            p.min-info Курс для путешественников, посвященный перелету.
                            span.grey-c Объем: 5-10 уроков                             
                            ul.kurs
                                li Регистрация на рейс и объявление в аэропорту
                                li Прохождение таможни и паспортного контроля
                                li Дорога от аэропорта до гостинницы
                    .col.col--1-of-3
                        .kurs-wrap-min
                            .head-kurs
                                img(src='img/icons/rest.png')
                                h4.min-name Путешествия: в ресторане
                            p.min-info Курс для путешественников, посвященный посещению ресторана.
                            span.grey-c Объем: 5-10 уроков                             
                            ul.kurs
                                li Бронирование столика
                                li Разговор с официантом
                                li Меню и выбор блюд
                                li Оплата ужина и чаевые
                    .col.col--1-of-3
                        .kurs-wrap-min
                            .head-kurs
                                img(src='img/icons/hot.png')
                                h4.min-name Путешествия: в отеле
                            p.min-info Курс предназначен для желающих получить полный контроль над английским языком.
                            span.grey-c Объем: 5-7 уроков                             
                            ul.kurs
                                li Бронирование отеля
                                li Выбор комнаты в гостиннице
                                li Заселение и отъезд
                                li Дополнительные услуги отеля
                    .col.col--1-of-3
                        .kurs-wrap-min
                            .head-kurs
                                img(src='img/icons/trans.png')
                                h4.min-name Путешествия: в транспорте
                            p.min-info Курс для путешественников, посвященный перемещению в городе.
                            span.grey-c Объем: 5-10 уроков                             
                            ul.kurs
                                li Общественный транспорт за рубежом
                                li Аренда машины, страховка и страховые случаи
                                li Если вас остановила полиция/эвакуировали машину
                    .col.col--1-of-3
                        .kurs-wrap-min
                            .head-kurs
                                img(src='img/icons/mag.png')
                                h4.min-name Путешествия: в магазине
                            p.min-info Курс для путешественников, посвященный визиту в магазин.
                            span.grey-c Объем: 5-8 уроков                             
                            ul.kurs
                                li Характеристики товаров
                                li Общение с продавцами
                                li Оплата товаров и торг
                                li Возврат товаров
                                li Типичные проблемы
                    .col.col--1-of-3
                        .kurs-wrap-min
                            .head-kurs
                                img(src='img/icons/cv.png')
                                h4.min-name Онлайн-шоппинг
                            p.min-info Курс по использованию зарубежных интернет-магазинов.
                            span.grey-c Объем: 5-10 уроков                             
                            ul.kurs
                                li Интерфейс магазина
                                li Выбор товаров
                                li Оплата заказов
                                li Доставка и возврат
                    .col.col--1-of-3
                        .kurs-wrap-min
                            .head-kurs
                                img(src='img/icons/dat.png')
                                h4.min-name Международные знакомства
                            p.min-info Курс по использованию зарубежных сайтов знакомств.
                            span.grey-c Объем: 5-10 уроков                             
                            ul.kurs
                                li Интерфейс сайтов для знакомств
                                li Составление профиля: внешность и характер, род деятельности, интересы и хобби.
                                li Переписка и разговоры по телефону.
                    .col.col--1-of-3
                        .kurs-wrap-min
                            .head-kurs
                                img(src='img/icons/let.png')
                                h4.min-name Деловое письмо
                            p.min-info Курс по деловому письму.
                            span.grey-c Объем: 5-14 уроков                             
                            ul.kurs
                                li Назначение встречи
                                li Письменный этикет
                                li Формальный и неформальный стиль
                                li Стандартные речевые обороты
                    .col.col--1-of-3
                        .kurs-wrap-min
                            .head-kurs
                                img(src='img/icons/phn.png')
                                h4.min-name Разговор по телефону
                            p.min-info Курс по телефонным переговорам.
                            span.grey-c Объем: 5-12 уроков                             
                            ul.kurs
                                li Приветствие и начало разговора
                                li Конференц-звонки
                                li Жалобы по телефону
                                li Поддержка и окончание разговора
                    .col.col--1-of-3
                        .kurs-wrap-min
                            .head-kurs
                                img(src='img/icons/cv.png')
                                h4.min-name Подготовка резюме
                            p.min-info Курс по составлению резюме на английском языке.
                            span.grey-c Объем: 5 уроков                             
                            ul.kurs
                                li Традиционная структура резюме
                                li Описание сильных сторон, опыта и достижений
                                li Особенности составления резюме зарубежом
                    .col.col--1-of-3
                        .kurs-wrap-min
                            .head-kurs
                                img(src='img/icons/talk.png')
                                h4.min-name Переговоры
                            p.min-info Курс по участию в переговорах на английском языке.
                            span.grey-c Объем: 5-14 уроков                             
                            ul.kurs
                                li Приветствие и знакомство
                                li Этикет и межкультурная коммуникация
                                li Устойчивые выражения
                                li Обсуждение контрактов
            .grid
                .wrap-sec
                    .col.col--2-of-2
                        .box
                            h3 Когда мы можем Вам не подойти:
                            .col.col--1-of-2
                                .inc
                                    img(src='img/icons/wop.png')
                                    p Если вы хотите обучать своего ребенка младше 4 лет: преподавателю очень тяжело удерживать внимание ребенка в течении часа.
                            .col.col--1-of-2
                                .inc
                                    img(src='img/icons/magic.png')
                                    p Если вы нацелены на немедленный результат. Увы, чуда снова не произойдет.
                            .col.col--1-of-2
                                .inc
                                    img(src='img/icons/clk.png')
                                    p Если вам важна соревновательность, или наоборот — любите отмалчиваться "на задней парте". Все участники группы в равной мере учавствуют в занятии.
                            .col.col--1-of-2
                                .inc
                                    img(src='img/icons/cash.png')
                                    p Если стоимость занятий у нас для вас не приемлема. При всем желании мы не сможем ее снизить.
            .grid
                .wrap-sec
                    .col.col--1-of-2
                        .box
                            h4 Преимущества над другими школами:
                            ul
                                li 2-3 месяца Вам потребуется для того, что бы в совершенстве овладеть английским языком (в отличии от 1-3х лет в любой другой школе)
                                li Вы говорите больше половины времени урока
                                li Первая в Украине уникальная методика полиглотов для группового изучения английского языка
                                li Лояльные цены и возможность вернуть деньги
                                li Служба Поддержки решает все вопросы
                    .col.col--1-of-2
                        .form-clean
                            form(class="form-action" id="RequestAjaxFormSecond" action="" method="post")
                                input(name="csrfmiddlewaretoken" type="hidden" value="BiGRCNJuA0pVL8KLJ9eZrbYtFAvVfamd4t1NG9g9Xw9CvdjShoTsc3UnWRuGiY0c")
                                .form-title                                
                                    h4 Заявка на 
                                        span.action-color бесплатную 
                                        консультацию
                                        
                                input(name="name" type="text" placeholder="Имя" required="")
                                input(name="phone" type="text" placeholder="Телефон" required="")
                                input(name="email" type="email" placeholder="Адрес электронной почты" required="")
                                input(name="lang" type="hidden" value="ru")
                                input(name="city" type="hidden" value="kyiv")
                                input(name="promo" type="text" placeholder="Промо-код (необязательно)")
                                input(type="submit" value="Оставить заявку")