.content-wrapper
    section#process
        .wrap-section
            .grid
                .wrap-sec
                    .col.col--2-of-2
                        h2 Процесс обучения английскому языку в школе TAKE IT EASY
                        h3 Как проходят занятия
                    .col.col--4-of-6
                        .wrap-shad1
                            ul.processing
                                li.ex Эксперт-преподаватель курирует процесс Вашего обучения.
                                li.of Вы занимаетесь в офисе, который расположен наиболее близко к вашему настоящему месторасположению.
                                li.ti Продолжительность урока — 60 минут.
                                li.st Структурированные уроки, основанные на коммуникативной методике полиглотов. Объем курса — 25 уроков.
                    .col.col--2-of-6
                        .form-clean
                            form(class="form-action top-form" id="RequestAjaxFormSecond" action="" method="post")
                                input(name="csrfmiddlewaretoken" type="hidden" value="BiGRCNJuA0pVL8KLJ9eZrbYtFAvVfamd4t1NG9g9Xw9CvdjShoTsc3UnWRuGiY0c")
                                .form-title                                
                                    h4 Заявка на 
                                        span.action-color бесплатную 
                                        консультацию
                                        
                                input(name="name" type="text" placeholder="Имя" required="")
                                input(name="phone" type="text" placeholder="Телефон" required="")
                                input(name="email" type="email" placeholder="Адрес электронной почты" required="")
                                input(name="lang" type="hidden" value="ru")
                                input(name="city" type="hidden" value="kyiv")
                                input(name="promo" type="text" placeholder="Промо-код (необязательно)")
                                input(type="submit" value="Оставить заявку")
                    .col.col--2-of-2
                        h3 Этапы обучения на пути к свободному общению
                        p Обучение в школе TAKE IT EASY начинается с бесплатного первого урока, который является полноценным уроком, входящим в 25 уроков полного курса. После этого, Вы можете сами решить, подходит ли наша методика для Вас. До пятого урока Вы имеете возможность вносить оплату по факту посещения урока, после — оплата по 10 уроков.
 
                        p Методика полиглотов не предусматривает никакого домашнего задания. Вообще никакого, от Вас нужно только повторение материала, предоставляемого Вам преподавателем.
                    .col.col--2-of-2
                        .prop-num
                            img(src='img/icons/1step.png')
                            h4 Как начать?
                    .col.col--2-of-2
                        .prop-wrapp
                            p Просто оставьте заявку у нас на сайте , после этого Вам перезвонит наш консультант,он ответит на все ваши вопросы и согласует с вами дату вашего первого занятия.
                            p Если вы хотите начать обучение немедленно — звоните, и вашу заявку заявку с радостью и теплом примут по телефону +38 (096) 876-46-71 или по скайпу: takeiteasy_ua
                    .col.col--2-of-2
                        .prop-num
                            img(src='img/icons/2step.png')
                            h4 Первые шаги к овладению английским
                    .col.col--2-of-2
                        .prop-wrapp
                            p Что касается групповых и корпоративных занятий — учебная методика предполагает тесное сотрудничество между преподавателем и группой, что способствует гораздо более быстрому изучению языка, нежели индивидуальные занятия.
                            p Индивидуальные занятия проходят в любом удобном для вас месте и в любое удобное для вас время. Все внимание преподавателя на занятиях будет нацелено на достижение ваших целей, такой вид обучения рекомендуется для экспресс- или спец-курсов, так как структура занятий подбирается индивидуально.
                    .col.col--2-of-2
                        .prop-num
                            img(src='img/icons/3step.png')
                            h4 Первые шаги к овладению английским
                    .col.col--2-of-2
                        .prop-wrapp
                            p Занятия проходят по методике полиглотов, по которой в Украине еще не преподает ни одна школа. Вы начнете говорить уже на первом уроке, и до 10 урока уже сможете рассказать о своих религиозных или политических взглядах, будете свободно общаться с иностранцами не испытывая дискомфорта.
                            p Занятия проходят 2 раза в неделю, после каждого занятия вы сможете получить оценку своей успеваемости у преподавателя. Мы ручаемся за ваш результат, по-этому мы готовы вернуть вам деньги за весь курс, если вдруг Вы не будете знать английский.
                    .col.col--1-of-2
                        .prop-wrapp
                    .col.col--1-of-2
                        .prop-wrapp
                    .col.col--2-of-2
                        .prop-num
                            img(src='img/icons/4step.png')
                            h4 Достижение результата
                    .col.col--2-of-2
                        .prop-wrapp
                            p На всем пути обучения ваш главный наставник и проводник — преподаватель. Он и мотивирует вас, и подстраивает процесс обучения под ваши особенности так, чтобы вы пришли к цели.
                    .col.col--1-of-2
                        .prop-wrapp
                    .col.col--1-of-2
                        .prop-wrapp
                    .col.col--2-of-2
                        .prop-num
                            img(src='img/icons/5step.png')
                            h4 Подтверждение навыков
                    .col.col--2-of-3
                        .prop-wrapp
                    .col.col--1-of-3
                        .form-clean
                            form(class="form-action top-form" id="RequestAjaxFormSecond2" action="" method="post")
                                input(name="csrfmiddlewaretoken" type="hidden" value="BiGRCNJuA0pVL8KLJ9eZrbYtFAvVfamd4t1NG9g9Xw9CvdjShoTsc3UnWRuGiY0c")
                                .form-title                                
                                    h4 Заявка на 
                                        span.action-color бесплатную 
                                        консультацию
                                        
                                input(name="name" type="text" placeholder="Имя" required="")
                                input(name="phone" type="text" placeholder="Телефон" required="")
                                input(name="email" type="email" placeholder="Адрес электронной почты" required="")
                                input(name="lang" type="hidden" value="ru")
                                input(name="city" type="hidden" value="kyiv")
                                input(name="promo" type="text" placeholder="Промо-код (необязательно)")
                                input(type="submit" value="Оставить заявку")