.content-wrapper
    section
        .wrap-section
            .grid
                .col.col--2-of-2
                    .box
            .grid
                .col.col--1-of-2
                    .box
                .col.col--1-of-2
                    .box
                .col.col--1-of-2
                    .box
                .col.col--1-of-2
                    .box
                .col.col--1-of-2
                    .box
                .col.col--1-of-2
                    .box
                .col.col--1-of-2
                    .box
                .col.col--1-of-2
                    .box
            .grid
                .col.col--2-of-2
                    .box
            .grid
                .col.col--1-of-3
                    .box
                .col.col--1-of-3
                    .box
                .col.col--1-of-3
                    .box
                .col.col--1-of-3
                    .box
                .col.col--1-of-3
                    .box
                .col.col--1-of-3
                    .box
                .col.col--1-of-3
                    .box
                .col.col--1-of-3
                    .box
                .col.col--1-of-3
                    .box
                .col.col--1-of-3
                    .box
                .col.col--1-of-3
                    .box
                .col.col--1-of-3
                    .box
                .col.col--1-of-3
                    .box
            .grid
                .col.col--2-of-2
                    .box
            .grid
                .col.col--1-of-2
                    .box
                .col.col--1-of-2
                    .box