.content-wrapper
    section#first
        .wrap-section
            .grid
                .col.col--6-of-12.margin-left20
                    h2 Изучать английский язык с нами намного легче, чем Вы думали
                    ul.privilegies
                        li Английский с TAKE IT EASY — это современный, удобный и практичный способ изучения английского языка.
                        li Лучшие цены в Киевe. Лучшее качество в Украине. Беспрецедентный уровень преподавания.
                        li Каждый педагог проходит тщательный отбор — начиная с внешних и умственных качеств, заканчивая манерой преподавания и отзывами наших учеников.
                        li Полный курс включает в себя 25 уроков (2 месяца) — по окончанию последнего урока вы сможете разговаривать на одном уровне с носителем языка и даже не будете задумываться об языковом барьере. В нынешнее время, знание английского языка — счастливый билет в успешное будущее.
                .col.col--5-of-12
                    .form-clean
                        form(class="form-action top-form" id="RequestAjaxForm" action="" method="post")
                            input(name="csrfmiddlewaretoken" type="hidden" value="BiGRCNJuA0pVL8KLJ9eZrbYtFAvVfamd4t1NG9g9Xw9CvdjShoTsc3UnWRuGiY0c")
                            .form-title
                                h4 Заявка на 
                                    span.action-color бесплатную 
                                    консультацию
                                    
                            input(name="name" type="text" placeholder="Имя" required="")
                            input(name="phone" type="text" placeholder="Телефон" required="")
                            input(name="email" type="email" placeholder="Адрес электронной почты" required="")
                            input(name="lang" type="hidden" value="ru")
                            input(name="city" type="hidden" value="kyiv")
                            input(name="promo" type="text" placeholder="Промо-код (необязательно)")
                            input(type="submit" value="Оставить заявку")
                </form>
    section#second
        .grid
            .col.col--6-of-12.col--centered.margin-top20
                .box
        .grid
            //- (.col.col--6-of-12>.box>img+h3{Super}+.info)*6
    section#third
        .grid
           .col.col--6-of-12.col--centered.margin-top20
                .box
        .grid
            .col.col--4-of-12
                .box
            .col.col--4-of-12
                .box
            .col.col--4-of-12
                .box
        .grid
            .col.col--6-of-12
                .box
            .col.col--6-of-12
                .box
