header
    button.toggle-nav
        span >
    ul.nav   
        li.loud
            a(href="select.html") г. Кривой Рог
        li.loud
            a(href="index.html") Главная
        li.loud
            a(href="process.html") Процесс
        li.loud
            a(href="programs.html") Программы
        li.loud
            a(href="prices.html") Цены
        li.loud
            a(href="contact.html") Контакты