header
    .decor
    nav
        ul.primary    
            li
                a(href="index.html") г. Кривой Рог
            li
                a(href="index.html") Главная
            li
                a(href="process.html") Процесс
            li
                a(href="programs.html") Программы
            li
                a(href="prices.html") Цены
            li
                a(href="contact.html") Контакты
